/tournaments.json
/UC1EXd2J8aqwiKC64yvIMKGQ.json
/UC1EXd2J8aqwiKC64yvIMKGQOtherNaming.txt
/UCIp0Z0R5BNYoRTFG-1s5Y9g.json
/UCIp0Z0R5BNYoRTFG-1s5Y9gOtherNaming.txt
/UCvdd5RoFdmzJhBTeesXZ6og.json
/UCvdd5RoFdmzJhBTeesXZ6ogOtherNaming.txt
/YoutubeVideos.json
/YoutubeVideosOtherNaming.txt
/youtube-videos/YoutubeVideos.txt
/youtube-videos/YoutubeVideosOtherNaming.txt
/.venv/
/rss-feed-forum/forum-posts.json
/rss-feed-forum/telegramIds.json
